﻿@using _07EPICourseWork.Helpers
@using Chart = _07EPICourseWork.Models.Chart
@model _07EPICourseWork.Models.Chart

<script>
    var rows = @Html.Raw(
                   Json.Encode(
                       ((Chart) ContextHelper.Get(Resource.ChartModel)).Rows.Select(m => new
                       {
                           m.Name, m.Type, m.Points
                       })
                       )
                   );
    var axis = @Html.Raw(
                   Json.Encode(
                       ((Chart) ContextHelper.Get(Resource.ChartModel)).AxisX
                       )
                   );
    GenerateChar(rows, axis);
</script>

<div id="chart"></div>

@if (((Chart)ContextHelper.Get(Resource.ChartModel)).TypeOfChart == Resource.TypeTB)
{
    <div class="padding5 my-output" style="margin-top: 15px;">
        @Html.Raw("Под точкой безубыточности понимается такой уровень производства (продаж), при котором обеспечивается нулевой уровень прибыли, т.е. " +
                  "точка безубыточности подразумевает равенство общих издержек и полученных доходов. Иными словами, это тот предельный уровень производства, " +
                  "спускаясь ниже которого предприятие терпит убытки.")
    </div>
}

@if (((Chart)ContextHelper.Get(Resource.ChartModel)).TypeOfChart == Resource.TypeOperRi4ag)
{
    <div class="padding5 my-output" style="margin-top: 15px;">
        @Html.Raw("Операционный рычаг (операционный леверидж) показывает во сколько раз темпы изменения прибыли от продаж превышают темпы изменения выручки от продаж. Зная операционный рычаг можно прогнозировать изменение прибыли при изменении выручки.")
        <p></p>
        @Html.Raw("Эффект операционного рычага проявляется в том, что любое изменение выручки от продаж всегда ведет к более сильному изменению прибыли. " +
                  "Этот эффект вызван различной степенью влияния динамики переменных затрат и постоянных затрат на финансовый результат при изменении объема выпуска. " +
                  "Влияя на величину не только переменных, но и постоянных затрат, можно определить, на сколько процентных пунктов увеличится прибыль.")
    </div>
}

@if (((Chart)ContextHelper.Get(Resource.ChartModel)).TypeOfChart == Resource.TypeZapasPro4n)
{
    <div class="padding5 my-output" style="margin-top: 15px;">
        @Html.Raw("Запас финансовой прочности предприятия - это отношение разности между нынешним объемом продажи товара и объемом его продажи в точке безубыточности " +
                  "в процентном выражении. Таким образом, чем выше данный показатель, тем более устойчивым является предприятие, и тем менее вероятен для него риск потерь. ")
    </div>
}