﻿@using _07EPICourseWork.Helpers
@model _07EPICourseWork.Models.MainVM

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

@using (Html.BeginForm())
{
    <div class="form-horizontal my-output">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" title="Постоянные издержки (затраты) - затраты, которые не зависят от величины объёма продаж
(зарплата, реклама, аренда, связь, канцтовары)">
            @Html.LabelFor(model => model.Input.FC, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10" id="name-editor-block">
                @Html.EditorFor(model => model.Input.FC, new { htmlAttributes = new { @class = "form-control", id = "input-fc" } })
                @Html.ValidationMessageFor(model => model.Input.FC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" title="Переменные издержки (затраты) - затраты, величина которых зависит от объема продукции
(материалы и сырьё, закупочная стоимость товара, транспортные расходы(доставка))">
            @Html.LabelFor(model => model.Input.AVC, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10" id="name-editor-block">
                @Html.EditorFor(model => model.Input.AVC, new { htmlAttributes = new { @class = "form-control", id="input-avc" } })
                @Html.ValidationMessageFor(model => model.Input.AVC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Input.MR, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10" id="name-editor-block">
                @Html.EditorFor(model => model.Input.MR, new { htmlAttributes = new { @class = "form-control", id = "input-mr" } })
                @Html.ValidationMessageFor(model => model.Input.MR, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Input.Qmin, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10" id="name-editor-block">
                @Html.EditorFor(model => model.Input.Qmin, new { htmlAttributes = new { @class = "form-control", id = "input-qmin" } })
                @Html.ValidationMessageFor(model => model.Input.Qmin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Input.Qmax, new { @class = "control-label col-md-2 required" })
            <div class="col-md-10" id="name-editor-block">
                @Html.EditorFor(model => model.Input.Qmax, new { htmlAttributes = new { @class = "form-control", id = "input-qmax" } })
                @Html.ValidationMessageFor(model => model.Input.Qmax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Принять данные" class="btn btn-success" />
            </div>
            <div class="col-md-offset-2 col-md-10" style="margin-top: 5px;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="btn-ls-set" type="button" class="btn btn-warning">Сохранить в LocalStorage</button>
                    <button id="btn-ls-get" type="button" class="btn btn-warning">Восстановить из LocalStorage</button>
                </div>
            </div>
            
            <script>
                $("#btn-ls-set").click(function () {
                    localStorage["@Resource.LsFC"] = JSON.stringify(@ContextHelper.Get(Resource.LsFC));
                    localStorage["@Resource.LsAVC"] = JSON.stringify(@ContextHelper.Get(Resource.LsAVC));
                    localStorage["@Resource.LsMR"] = JSON.stringify(@ContextHelper.Get(Resource.LsMR));
                    localStorage["@Resource.LsQMin"] = JSON.stringify(@ContextHelper.Get(Resource.LsQMin));
                    localStorage["@Resource.LsQMax"] = JSON.stringify(@ContextHelper.Get(Resource.LsQMax));
                    alert("Done");
                });

                $("#btn-ls-get").click(function () {
                    $("#input-fc").val(localStorage["@Resource.LsFC"]);
                    $("#input-avc").val(localStorage["@Resource.LsAVC"]);
                    $("#input-mr").val(localStorage["@Resource.LsMR"]);
                    $("#input-qmin").val(localStorage["@Resource.LsQMin"]);
                    $("#input-qmax").val(localStorage["@Resource.LsQMax"]);
                    alert("Done");
                });
            </script>
            
        </div>
    </div>
}