﻿@using _07EPICourseWork.Helpers
@model _07EPICourseWork.Models.MainVM

@{
    ContextHelper.Set(Model, Resource.CacheMainVM);
}

@if (!Model.Chart.Invalid)
{
    <script>
        var rows = @Html.Raw(
                       Json.Encode(
                           Model.Chart.Rows.Select(m => new
                           {
                               m.Name, m.Type, m.Points
                           })
                           )
                       );
        var axis = @Html.Raw(
                       Json.Encode(
                           Model.Chart.AxisX
                           )
                       );
    </script>
}

<div class="my-output">

    <div class="container padding5">
        <div class="btn-group" role="group" aria-label="Basic example">
            @if (Model.Chart.Invalid)
            {
                <button id="btn-get-tb-chart" type="button" class="btn btn-success" disabled>Диаграмма безубыточности</button>
                <button id="btn-get-operacion-richag-chart" type="button" class="btn btn-success" disabled>ОР (Операционный рычаг)</button>
                <button id="btn-get-zapas-prochn-chart" type="button" class="btn btn-success" disabled>Запас прочности</button>
                <button id="btn-get-table" type="button" class="btn btn-primary" disabled>Таблица расчетов</button>
            }
            else
            {
                <button id="btn-get-tb-chart" type="button" class="btn btn-success">Диаграмма безубыточности</button>
                <button id="btn-get-operacion-richag-chart" type="button" class="btn btn-success">ОР (Операционный рычаг)</button>
                <button id="btn-get-zapas-prochn-chart" type="button" class="btn btn-success">Запас прочности</button>
                <button id="btn-get-table" type="button" class="btn btn-primary">Таблица расчетов</button>
            }
        </div>
    </div>

    <div id="output" class="padding5 my-output">
        <div class="container" title="ТБшт. =  FC/ (TR - TVC) * Q">
            @Html.Raw($"Точка безубыточности (в шт.) = {Math.Round(Model.Chart.Tb.TBcount)} шт.,     ")
        </div>
        <div class="container" title="ТБруб. = FC/ ((TR - TVC) / TR)">
            @Html.Raw($"Точка безубыточности (в валюте) = {Math.Round(Model.Chart.Tb.TBcurrency)}={String.Format("{0:F2}", Model.Chart.Tb.TBcurrency)} руб.")
        </div>
       
    </div>

    <div id="ajax-chart">
        @Html.Partial("_TableChart", Model.Chart.Table)
    </div>
</div>