﻿@model IEnumerable<_07EPICourseWork.Models.Table>

<table class="table table-hover table-bordered">
    <tr>
        <th title="Q">
            @Html.DisplayNameFor(model => model.Q)
        </th>
        <th title="FC">
            @Html.DisplayNameFor(model => model.FC)
        </th>
        <th title ="Q * TVC">
            @Html.DisplayNameFor(model => model.TVC)
        </th>
        <th title="FC + TVC">
            @Html.DisplayNameFor(model => model.TC)
        </th>
        <th title="Q * MR">
            @Html.DisplayNameFor(model => model.TR)
        </th>
        <th title="TR - TC">
            @Html.DisplayNameFor(model => model.TP)
        </th>
        <th title="(TR - TVC)/TP">
            @Html.DisplayNameFor(model => model.L)
        </th>
        <th title="(TR - TBcurrency)/TR*100%">
            @Html.DisplayNameFor(model => model.S)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Q)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TVC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.S)
            </td>
        </tr>
    }

</table>